<div class="row">
    <div class="col-md-10">
        <h2>Entidades Sociais</h2>
    </div>
    <div class="col-md-2">
        <a href="javascript:loadPage('novaentidade.html')" class="btn btn-primary pull-right" style="margin-top:20px;">Cadastrar nova Entidade</a>
    </div>
</div>

<hr/>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Entidade</th>
            <th>Meta</th>
            <th>Localização</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr id="ob">
            <td>Ongbook</td>
            <td>Catálogo de Entidades Sociais</td>
            <td>ES</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#ob').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr id="wwf">
            <td>WWF Brasil</td>
            <td>Preservação Ambiental</td>
            <td>SP</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#wwf').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr id="sos">
            <td>SOS Mata Atlântica</td>
            <td>Preservação Ambiental</td>
            <td>AM</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#sos').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr id="ob">
            <td>Ongbook</td>
            <td>Catálogo de Entidades Sociais</td>
            <td>ES</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#ob').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr id="wwf">
            <td>WWF Brasil</td>
            <td>Preservação Ambiental</td>
            <td>SP</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#wwf').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr id="sos">
            <td>SOS Mata Atlântica</td>
            <td>Preservação Ambiental</td>
            <td>AM</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#sos').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr id="ob">
            <td>Ongbook</td>
            <td>Catálogo de Entidades Sociais</td>
            <td>ES</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#ob').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr id="wwf">
            <td>WWF Brasil</td>
            <td>Preservação Ambiental</td>
            <td>SP</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#wwf').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr id="sos">
            <td>SOS Mata Atlântica</td>
            <td>Preservação Ambiental</td>
            <td>AM</td>
            <td>
                <a href="javascript:loadPage('home.html')">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:$('#sos').fadeOut()">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>